/* FORMULARIO */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

[desativado]{
  pointer-events: none;
  touch-action: none;
}

body,
html {
  font-family: 'Roboto', sans-serif !important;
  width: 100%;
  font-size: 18px;
  font-weight: 400;
  scroll-behavior: smooth;
  margin: 0;
  color: #231f20;
  background: whitesmoke;
}

html::before {
  content: '';
  width: 200%;
  height: 200%;
  background: whitesmoke;
  position: fixed;
  top: -50%;
  left: -50%;
  z-index: 0;
}

a,
h1,
h2,
h3,
h4 {
  font-weight: 400;
  margin: 0;
}

h4 {
  font-size: 18px;
}

p {
  font-weight: 400;
  font-size: 15px;
  color: #949398;
  margin: 0;
}

.bt-form__wrapper {
  /* margin: 0px auto; */
  max-width: 500px;
  width: 100%;
  position: relative;
  left: 50%;
  top: 0%;
  -webkit-transform: translate(-50%, -0%);
  -ms-transform: translate(-50%, -0%);
  transform: translate(-50%, -0%);
  transition: all 0.3s;
}


input[type],
textarea,
select {
  position: relative;
  width: 100%;
  height: 100%;
  border: none !important;
  outline: none !important;
  z-index: 1;
  font-size: 15px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  font-family: 'Roboto', sans-serif !important;
  resize: none;
}

.bt-form__wrapper input[type]::placeholder {
  color: #999999 !important;
}

.bt-form__wrapper input[type]::-webkit-inner-spin-button,
.bt-form__wrapper input[type]::-webkit-calendar-picker-indicator {
  display: none;
  appearance: none;
}

.bt-inputs__wrapper {
  display: flex;
  background: #303030;
  border-radius: 10px;
  padding: 12px 20px;
  margin-bottom: 14px;
  flex-wrap: nowrap;
  transition: all 0.3s;
}

.bt-inputs__wrapper[desativar='true'] {
  color: #999999 !important;
  pointer-events: none;
  touch-action: none;
}

.bt-inputs__wrapper label {
  flex: 0 0 auto;
  color: #949398;
}

.bt-inputs__wrapper input {
  flex: 1;
  color: #949398;
  transition: color 0.3s;
}

.bt-inputs__wrapper input:focus {
  color: white;
}


#menu {
  width: 350px;
  height: 70px;
  position: fixed;
  top: calc(100% - 100px);
  display: flex !important;
  justify-content: center;
  z-index: 1;
}

#menu>div:first-child {
  background: #1d212a;
  border-radius: 20px;
  width: calc(100% - 40px);
  height: 100%;
}


/* carousel */
.owl-carousel .owl-stage-outer {
  overflow: unset !important;
}

/* carousel  end */

.rolagem {
  overflow-x: hidden;
  overflow-y: overlay;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transition-delay: 0.3s;
  transition: all 0.3s;
}

.image{
  background-size: cover !important;
}