@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

body {
  background: rgb(61, 61, 61);
  font-family: "Roboto", sans-serif;
  position: absolute;
  font-size: 15px;
}

b {
  font-weight: 600;
}

.container {
  background: rgb(255, 255, 255);
  width: 730px;
  min-height: 1014px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container .bottom {
  padding: 80px 0 0 0;
  margin: 0 65px 65px 65px;
  /* border-bottom: 3px solid #000; */
}
#obs{
  padding: 10px 0;
}
#obs b{
  text-transform: uppercase;
}

.header-container {
  padding: 80px 65px 0px 65px;
}

.header-title {
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 3px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-title img {
  width: 30px;
}

.header-title h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 35px;
}

.header-title h4 {
  font-weight: 600;
}

.header-itens h5 {
  font-weight: 600;
  line-height: 15px;
}

.header-itens h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 700;
}

.header-itens #user-info{
  line-height: 15px;
}

.header-itens {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header-itens div:first-child {
  width: 65%;
}

.header-itens .user-info {
  line-height: 18px;
}

.minutaBody-container {
  padding: 0 65px;
}

.table-container {
  padding: 20px 65px 65px 65px;
}
#user-banco{
  position: absolute;
  text-align: left;
  padding: 30px 0 0 0;
}

table {
  width: 100%;
  position: relative;
  text-align: center;
  border-collapse: collapse;
}

.table-title {
  background: black;
}

table thead th {
  color: white;
  border: 1px solid black;
  border-bottom: inherit;
  font-weight: 700;
  text-transform: uppercase;
}

table tbody{
  border: 0 0 0 1px solid #000
}
table tbody td {
  border: 1px solid rgb(94, 94, 94);
  border-bottom: inherit;
}
table tbody td:first-child{
  vertical-align: middle;
}

table tbody tr:last-child td {
  border-bottom: 1px solid rgb(94, 94, 94);
}

th,
td {
  padding: 7px 7px;
  min-height: 40px;
  line-height: 18px;
}

table .border {
  border: 1px solid black;
}

table .cobranca-item td{
  padding: 6px 0;
}

@media print {
  body {
     -webkit-print-color-adjust: exact;
  }
}
